<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="myBean" class="com.harendra.primitive.Student">
		<property name="id" value="107"></property>
		<property name="name" value="Harendra"></property>
		<property name="address" value="Sitamarhi"></property>
	</bean>
</beans>
